body {
  font-family: Kanit,sans-serif;
}
/* Fixes white space on right side; go figure. */
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

h1 {
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 1.5;
  position: relative;
  z-index: 1;
}

.container-fluid {
  padding: 3% 15%;
  text-align: right;
}


/* Nav Bar */
.navbar {
  background-color: #FDFD96;
  font-size: 1rem;
}

.navbar-brand {
  font-family: Caveat,sans-serif;
  font-size: 2rem;
}

.nav-item {
  padding: 25px;
}

/* Sign Up Button */
.signUpButton {
  margin: 5% 3% 5% 0%

}

/* Title */

.titleImage {
  border-radius: 100%;
  width: 80%;
  transform: rotate(30deg);
  position: relative;
  z-index: 0;
  margin: 10%;
}

#title {
  background-color: #9FC5F8;
  color: white;
}

@media (max-width: 1440px) {
.titleImage {
  transform: rotate(0);
  position: static;
}
.container-fluid {
  text-align: center;
}
h2 {
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 1;
}

}

@media (max-width: 575px) {
  h1 {
    font-weight: 400;
    font-size: 3rem;
    line-height: 1;
    position: relative;
    z-index: 1;
  }
}

/* features */
h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.delivery {
  background-color: black;
  border-radius: 100%;
  color: #FDFD96;
  margin: 15% 0 5%;
  padding: 3%;
}
.delivery:hover {
  background-color: #9FC5F8;
}

.description {
  width: 80%;
  text-align: center;
  margin: auto;
  padding-bottom: 10%;
}
.quality {
  background-color: black;
  border-radius: 100%;
  color: #FDFD96;
  margin: 15% 0 5%;
  padding: 3%;
}
.quality:hover {
  background-color: #9FC5F8;
}

.proB {
  border-radius: 100%;
  width: 30%;
  margin: 8% 0 0;
  padding: 3%;
}
.proB:hover {
  background-color: #9FC5F8;
}

#features {
  background-color: #FDFD96;
  color: black;
  text-align: center;
}

/* Testimonials */

h2 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
  padding-top: 5%;
  width: 80%;
  margin: auto;
}

.carousel-item {
  padding: 7% 15%;
}

.press-logo {
  width: 15%;
  margin: 3% 3% 6%;
}

.testimPic {
  border-radius: 100%;
  width: 10%;
  margin: 3%;
}

#press {
  background-color: #9FC5F8;
   text-align: center;
   padding-bottom: 3%;
}

.card {
  background-color: black;
  color: white;
  padding: 10% 5%;
  margin: 3% 0%;
}

.card-btn {
  margin-top: 7%;
}

.card-header {
  background-color: gray;
}

.pricing-header {
  margin-bottom: 5%;
}

#pricing {
  text-align: center;
  background-color: #FDFD96;
  padding: 5%;
}

#testimonials {
  background-color: #9FC5F8;
  color: white;
  text-align: center;
}

/* CTA */

#cta {
  background-color: #9FC5F8;
  color: white;
  text-align: center;
  padding-top: 5%;
}

/* Footer */
.copyright {
  font-size: small;
}

.footerIcon {
  padding: 0 3% 5%;
  margin: auto;
  text-decoration: none;
  color: inherit;
}

.footerIcon:hover {
  text-decoration: none;
  color: inherit;
}

.footerSignUp {
  margin: 5% auto;
}

#footer {
  text-align: center;
  background-color: #FDFD96;
  padding: 5%;
  margin: auto;
}


/* @font-face {
  font-family: 'Knewave', regular;
  font-weight: 400;
}
@font-face {
  font-family: 'Bowlby One SC', regular;
  font-weight: 400;
} */

@font-face {
  font-family: 'Caveat', regular;
  font-weight: 400;
}

@font-face {
  font-family: 'Caveat', bold;
  font-weight: 700;
}

@font-face {
  font-family: 'Fredoka One', regular;
  font-weight: 400;
}

@font-face {
  font-family: 'Acme', regular;
  font-weight: 400;
}

@font-face {
  font-family: 'Kanit', regular;
  font-weight: 400;
}
