/* Fixes white space on right side; go figure. */
html, body {
  font-family: Kanit, sans-serif;
  height: 100%;
  margin: 0px;
  overflow-x: hidden;
  padding: 0px;
  text-align: center;
  width: 100%;
}

#title .container-fluid {
  padding: 3% 15%;
}

.container-fluid {
  padding: 7% 15%;
}

.light-section {
  background-color: #FDFD96;
  color: black;
}

.dark-section {
  background-color: #9FC5F8;
  color: white;
}

/* Nav Bar */
.navbar {
  font-size: 1rem;
}

.navbar-brand {
  font-family: Caveat, sans-serif;
  font-size: 2rem;
}

.nav-item {
  padding: 25px;
}

/* Sign Up Button */
.signUpButton {
  margin: 5% 3% 5% 0;
}

/* Title */
.big-heading {
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 1.5;
  position: relative;
  z-index: 1;
}

.titleImage {
  border-style: solid;
  border-color: white;
  border-width: 25px;
  border-radius: 100%;
  width: 125%;
  transform: rotate(30deg);
  position: relative;
  z-index: 0;
  margin: 10%;
}

#title {
  text-align: right;
}

/* features */
.delivery {
  background-color: black;
  border-radius: 100%;
  color: #FDFD96;
  margin: 15% 0 5%;
  padding: 3%;
}

.delivery:hover {
  background-color: #9FC5F8;
}

.description {
  width: 80%;
  margin: auto;
}

.features-heading {
  font-size: 1.5rem;
  font-weight: bold;
}

.proB {
  border-radius: 100%;
  width: 30%;
  margin: 8% 0 0;
  padding: 3%;
}

.proB:hover {
  background-color: #9FC5F8;
}

.quality {
  background-color: black;
  border-radius: 100%;
  color: #FDFD96;
  margin: 15% 0 5%;
  padding: 3%;
}

.quality:hover {
  background-color: #9FC5F8;
}

/* Testimonials */
.press-logo {
  width: 15%;
  margin: 3% 3% 6%;
}

.testimonial-text {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
  padding-top: 5%;
  width: 80%;
  margin: auto;
}

.testimPic {
  border-radius: 100%;
  width: 10%;
  margin: 3%;
}

/* Pricing */
.card {
  background-color: black;
  color: white;
  padding: 10% 5%;
  margin: 3% 0%;
}

.card-btn {
  margin-top: 7%;
}

.card-header {
  background-color: gray;
}

.price-option-heading {
  font-size: 1.5rem;
  font-weight: bold;
}

.price-text-large {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
  padding-top: 5%;
  width: 80%;
  margin: auto;
}

.pricing-header {
  margin-bottom: 5%;
}

#press {
  padding-bottom: 3%;
}

/* Footer */
.copyright {
  font-size: small;
}

.footerIcon {
  padding: 0 3% 5%;
  margin: auto;
  text-decoration: none;
  color: inherit;
}

.footerIcon:hover {
  text-decoration: none;
  color: inherit;
}

.footerSignUp {
  margin: 5% auto;
}

#footer {
  margin: auto;
}

/* @font-face {
  font-family: 'Knewave', regular;
  font-weight: 400;
}
@font-face {
  font-family: 'Bowlby One SC', regular;
  font-weight: 400;
} */
@font-face {
  font-family: 'Caveat', regular;
  font-weight: 400;
}

@font-face {
  font-family: 'Caveat', bold;
  font-weight: 700;
}

/* @font-face {
  font-family: 'Fredoka One', regular;
  font-weight: 400;
}

@font-face {
  font-family: 'Acme', regular;
  font-weight: 400;
} */
@font-face {
  font-family: 'Kanit', regular;
  font-weight: 400;
}

/* Custom media queries */
@media (max-width: 1440px) {
  .titleImage {
    width: 80%;
    transform: rotate(0);
    position: static;
    border-width: 10px;
  }

  .container-fluid {
    text-align: center;
  }
}

@media (max-width: 575px) {
  .big-heading {
    font-weight: 400;
    font-size: 3rem;
    line-height: 1;
    position: relative;
    z-index: 1;
  }

  h2 {
    font-size: 1rem;
    line-height: 1;
  }
}
